<ion-header>
  <ion-toolbar>
    <ion-title>Search Parameters</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="border-radius: 20px;">
    <ion-list>
      <ion-item lines="none">
        <ion-label>Sort:</ion-label>
        <ion-select [(ngModel)]="sort" interface="popover">
          <ion-select-option *ngFor="let item of sortList" [value]="item.value">
            {{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item lines="none">
        <ion-label>Begin_date:</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD" min="2012-01-01" [(ngModel)]="beginDate"></ion-datetime>
      </ion-item>
  
      <ion-item lines="none">
        <ion-label>End_date:</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD" min="2012-01-01" [(ngModel)]="endDate"></ion-datetime>
      </ion-item>
    </ion-list>
  </div>
</ion-content>