<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Top Stories
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Top Stories</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item lines="none">
      <ion-label>Section:</ion-label>
      <ion-select [(ngModel)]="selectedSection" (ionChange)="onChange($event)" interface="popover">
        <ion-select-option *ngFor="let item of sections" value="{{item.value}}">
          {{item.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="center">
    <div class="collection ion-padding">
      <div *ngFor="let result of results$ | async">
        <ion-card *ngIf="result.url && result.abstract" href="{{result.url}}">
          <img *ngIf="result.multimedia?.length > 0" src="{{result.multimedia[0].url}}" />

          <ion-card-header>
            <ion-card-title>{{result.title}}</ion-card-title>
            <ion-card-subtitle>{{result.byline}}</ion-card-subtitle>
            <ion-card-subtitle>
              <ion-datetime class="ion-no-padding" displayFormat="YY/MM/DD" value="{{result.published_date}}"></ion-datetime>
            </ion-card-subtitle> 
          </ion-card-header>

          <ion-card-content>
            <ion-chip [disabled]="true">
              <ion-label color="secondary">{{result.section}}</ion-label>
            </ion-chip>
            <ion-chip *ngIf="result.subsection" [disabled]="true">
              <ion-label color="danger">{{result.subsection}}</ion-label>
            </ion-chip>
          </ion-card-content>

          <ion-card-content>
            {{result.abstract}}
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light" (click)="scrollToTop()">
      <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>