<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Most Popular
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Most Popular</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item lines="none">
      <ion-label>Based on:</ion-label>
      <ion-select [(ngModel)]="selectedBasedOn" (ionChange)="onChange($event)" interface="popover">
        <ion-select-option *ngFor="let item of basedOn" [value]="item.value">
          {{item.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Period:</ion-label>
      <ion-select [(ngModel)]="selectedPeriod" (ionChange)="onChange($event)" interface="popover">
        <ion-select-option *ngFor="let item of period" [value]="item.value">
          {{item.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="center">
    <div class="collection ion-padding">
      <div *ngFor="let result of results">
        <ion-card *ngIf="result.url && result.abstract" href="{{result.url}}">
          <img *ngIf="result.media?.length > 0" src="{{result.media[0]['media-metadata'][2].url}}" />

          <ion-card-header>
            <ion-card-title>{{result.title}}</ion-card-title>
            <ion-card-subtitle>{{result.published_date}}</ion-card-subtitle>
            <ion-card-subtitle>{{result.byline}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-chip [disabled]="true">
              <ion-label color="secondary">{{result.section}}</ion-label>
            </ion-chip>
            <ion-chip *ngIf="result.subsection" [disabled]="true">
              <ion-label color="danger">{{result.subsection}}</ion-label>
            </ion-chip>
            <ion-chip *ngFor="let facet of result.des_facet" [disabled]="true">
              <ion-label color="dark">{{facet}}</ion-label>
            </ion-chip>
          </ion-card-content>

          <ion-card-content>
            {{result.abstract}}
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>

</ion-content>