.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

// .custom-modal-css .modal-wrapper {
//     height: 50% !important;
//     width: 50% !important;
//  }